{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "@vue/airbnb"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "indent": "off",
    "generator-star-spacing": "off",
    "linebreak-style": 0,
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-tabs": 0,
    "semi": [2, "always"]
  }
}